@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after, *::before{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: #5F0A87;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-track{
    background-color: #CBC3E3;
}
.swiper-pagination-bullet-active{
    background-color: white;
}
#products .swiper-pagination-bullet-active{
    background-color: #5F0A87;
}
.swiper-button-prev, .swiper-button-next{
    color:white;
    padding: 2rem;
    background-color: #5F0A87;
    border-radius: 50%;
    transform: translateY(-100%);
    
}
#products .swiper-button-prev, #products .swiper-button-next{
    color: #5F0A87;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    transform: translateY(0);
}